$light-green: #90EE90;
$pine-green: #01796F;
$tea-green: #D0F0C0;
$malachite: #0BDA51;
$tundora: #414141;
$medium-gray: #555;
$gray: #828282;
$silver: #ccc;
$orange-coral: #F88379;
$error-message-color: #a94442;
$secondary-background-color: #ebebeb;
$muted-text-color: $gray;
$muted-accent-text-color: #b6655e;
$red-coral: #E14233;
$dark-blue: #0000AF;
$electric-violet: #6534ff;
$san-marino: #3f51b5;
$twitter-blue: #00aced;
$facebook-blue: #3b5998;
$linkedin-blue: #0077B5;
$google-plus-red: #dd4b39;
$turquoise: #24DDB0;


$fresh: #49BCAB;
$vermillion: #ff632a;
$light-gray: #f7f7f7;
$royal-blue: #3460F1;
$gigas: #543d95;
$yellow-orange: #FFB736;
$carmine: #E14233;

$primary-color: $vermillion;

.bg-vermillion {
  background-color: $vermillion;
}
.bg-royal-blue {
  background-color: $royal-blue;
}
.bg-fresh {
  background-color: $fresh;
}
.bg-yellow-orange {
  background-color: $yellow-orange;
}
