@mixin add-font-face($font-family-name, $url-prefix) {
  @font-face {
    font-family: $font-family-name;
    font-weight: normal;
    src: url($url-prefix + '.eot');
    src: url($url-prefix + '.eot') format('embedded-opentype'), /* IE6-IE8 */
          url($url-prefix + '.otf') format('opentype'), /* Super Modern Browsers */
          url($url-prefix + '.woff') format('woff'), /* Super Modern Browsers */
          url($url-prefix + '.ttf')  format('truetype'), /* Safari, Android, iOS */
          url($url-prefix + '.svg') format('svg'); /* Legacy iOS */
  }
}

@include add-font-face('RanchersRegular', '../fonts/ranchers/regular');
@include add-font-face('MonsterratRegular', '../fonts/montserrat/Montserrat-Regular');
@include add-font-face('MonsterratLight', '../fonts/montserrat/Montserrat-Light');
@include add-font-face('MonsterratHairline', '../fonts/montserrat/Montserrat-Hairline');
@include add-font-face('MonsterratBold', '../fonts/montserrat/Montserrat-Bold');

//$bold-font: 'Monsterrat-Bold', bold;
//$regular-font: 'Monsterrat-Regular', sans-serif;
////$brand-font: 'MonsterratAlternates-Regular', sans-serif;
//$brand-font: $regular-font;