// FontAwesome overrides
$fa-font-path: "../fonts/font_awesome";

// Bootstrap overrides
$brand-primary: $primary-color;
$font-family-sans-serif: MonsterratLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$enable-flex: true;
$body-color: $tundora;
$border-radius: .25rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;

// Fonts
$brand-font-family: 'MonsterratBold';
$regular-font-family: 'MonsterratRegular';
$light-font-family: 'MonsterratLight';
$thin-font-family: 'MonsterratHairline';
$bold-font-family: 'MonsterratBold';