@import "mixins";
@import "fonts";
@import "colors";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "forms";
@import "pages/legal";
@import "pages/checkout";
@import "pages/create_lead";

.static {
	position: static;
}

.popover {
	/*.arrow {
	    width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		margin: 5px;
		border-color: #FFC107;
	}
	&[x-placement^="right"] {
		margin-right: 5px;
		.arrow {
			border-width: 5px 5px 5px 0;
			border-left-color: transparent;
			border-top-color: transparent;
			border-bottom-color: transparent;
			left: -5px;
			top: calc(50% - 5px);
			margin-left: 0;
			margin-right: 0;
		}
	}
	&[x-placement^="bottom"] {
		margin-top: 5px;
		.arrow {
			border-width: 5px 5px 0 5px;
			border-left-color: transparent;
			border-right-color: transparent;
			border-bottom-color: transparent;
			bottom: -5px;
			left: calc(50% - 5px);
			margin-top: 0;
			margin-bottom: 0;
		}
	}*/
}

.regular-font {
  @include regular-font-family();
}

.bold-font {
  @include bold-font-family();
}

.display-5 {
	@extend .display-4;
	font-size: 2.5rem;
}

.brand {
  @include light-font-family();
  //text-transform: lowercase;
  .highlight {
    @include brand-font-family();
  }
  &.less-bold {
    .highlight {
      @include regular-font-family();
    }
  }
}

.btn, .form-control, select.form-control:not([size]):not([multiple]) {
  border-radius: $border-radius;
}

.btn {
  text-transform: none;
}

.btn-royal-blue {
  @include button-variant($royal-blue, $royal-blue);
}

.btn-primary {
  @include button-variant($primary-color, $primary-color);
}

.btn-facebook {
  @include button-variant($facebook-blue, $facebook-blue);
}

.btn-linkedin {
  @include button-variant($linkedin-blue, $linkedin-blue);
}

.btn-twitter {
  @include button-variant($twitter-blue, $twitter-blue);
}

.btn-google-plus {
  @include button-variant($google-plus-red, $google-plus-red);
}

.btn-gray {
  @include button-variant($gray, $gray);
}

.cover {
  object-fit: cover;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  background-color: white;
}

.hr-circles {
	display: flex;
	justify-content: center;
	.fa-circle {
		padding: 0 7px;
		font-size: 0.75em;
	}
}

hr {
  &.circles {
    border: none;
    &::after {
      @include font-awesome-family();
      content: '\f111 \f111 \f111';
      display: inline-block;
      font-size: 0.75em;
      letter-spacing: 15px;
      text-align: center;
      margin-right: -15px;
    }
  }
}

.footer {
  background-color: #201E1C;
  text-align: center;
  padding: 2.5rem 0;
  color: #7b7a7a;
  font-size: 0.75rem;
  a {
    color: #7b7a7a;
    &.highlight {
      color: white;
    }
  }
  .fa-circle {
    font-size: 0.125em;
    padding: 1em;
  }
  .brand {
    @extend .brand;
    color: white;
    font-size: 1.75em;
  }
  .social-media {
    font-size: 1.75rem;
    padding: 2rem;
    transition: all 0.375s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      color: white;
      text-decoration: none;
      transform: scale(0.8, 0.8);
    }
  }
}

.blockquote {
  background-color: white;
  border-left: .25rem solid $vermillion;
  padding: 0.5em 1em;
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

#navbar {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
  &.transparent {
    background-color: transparent;
    .navbar {
      padding: 1rem;
      color: white;
      .fa-navicon {
        color: white;
      }
      a {
        color: white;
      }
    }
  }
  //border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  .navbar {
    font-size: 1.125rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    .fa-navicon {
      color: $body-color;
      font-size: 1.75em;
    }
    .navbar-logo {
      width: 50px;
      height: 50px;
      @include media-breakpoint-down(md) {
        width: 35px;
        height: 35px;
      }
    }
    .navbar-brand {
      @extend .brand;
      font-size: 1.75em;
    }
    a {
      transition: all 0.375s;
      color: $body-color;
      //color: black;
      &:hover {
        color: $primary-color;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding-left: 1rem;
          padding-right: 1rem;
          text-transform: capitalize;
          @include regular-font-family();
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .navbar {
      padding: 0.25rem 0;
      .navbar-toggler-right {
        right: 0;
        padding-right: 0;
      }
      .navbar-brand, .fa-navicon {
        font-size: 1.25rem;
      }
    }

  }
}