{% extends "content_base.html" %}
{% load static %}
{% load cache %}
{#{% block above_the_fold_css %}#}
{#    <style>#}
{#        {% include "includes/css/lead_creation_form.css" %}#}
{#    </style>#}
{#{% endblock %}#}
{% block content %}
    <div class="create-lead">
        <section class="banner">
            {% include "includes/navbar.html" %}
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <div class="row introduction align-items-center">
{#                        <div class="col-12 text-center d-flex d-md-none">#}
{#                            <img class="img-fluid logo" src="{% static "img/logo.png" %}"/>#}
{#                        </div>#}
                        <div class="col-12 col-md-4 px-4">
                            <div class="iphone-mockup vertical">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     width="195.8" height="396.9"
                                     viewBox="0 0 195.8 396.9" preserveAspectRatio="xMidYMid meet">
                                    <path fill="#FFF"
                                          d="M165.7 0H29.6C13.9 0 1.2 12.7 1.2 28.3v340.2c0 15.7 12.7 28.3 28.3 28.3h136.1c15.7 0 28.3-12.7 28.3-28.3V28.3C194 12.7 181.3 0 165.7 0zm24.1 366.4c0 14.1-11.4 25.5-25.5 25.5H31.1c-14.1 0-25.5-11.4-25.5-25.5V29.1C5.6 15 17 3.6 31.1 3.6h133.2c14.1 0 25.5 11.4 25.5 25.5v337.3z"/>
                                    <path fill="#FFF"
                                          d="M164.5 393.8H30.4C15.8 393.8 4 382 4 367.5V29.2C4 14.7 15.8 2.9 30.4 2.9h134.1c14.6 0 26.4 11.8 26.4 26.4v338.2c-.1 14.5-11.9 26.3-26.4 26.3z"/>
                                    <path fill="#FFF" d="M13.8 50.6h167.5v296.5H13.8z"/>
                                    <path fill="#B3B3B3" d="M180.5 51.4v295h-166v-295h166m1.5-1.5H13v298h169v-298z"/>
                                    <linearGradient id="a" gradientUnits="userSpaceOnUse" x1="105.002" y1="384.709"
                                                    x2="88.999" y2="356.991">
                                        <stop offset="0" stop-color="#9e9fa1"/>
                                        <stop offset=".115" stop-color="#b6b7b9"/>
                                        <stop offset=".253" stop-color="#cdced0"/>
                                        <stop offset=".34" stop-color="#d5d6d9"/>
                                        <stop offset=".635" stop-color="#d5d6d9"/>
                                        <stop offset=".745" stop-color="#c9cacc"/>
                                        <stop offset=".946" stop-color="#a8a9ab"/>
                                        <stop offset="1" stop-color="#9e9fa1"/>
                                    </linearGradient>
                                    <circle fill="url(#a)" cx="97" cy="370.9" r="16"/>
                                    <circle fill="#F7F7F7" cx="97" cy="370.9" r="14"/>
                                    <circle fill="#E6E6E6" cx="97.5" cy="13.4" r="2.5"/>
                                    <circle fill="#E6E6E6" cx="67.5" cy="25.4" r="3.5"/>
                                    <path fill="#E6E6E6"
                                          d="M110.9 26.9H84c-1.1 0-2-.9-2-2s.9-2 2-2h26.9c1.1 0 2 .9 2 2s-.9 2-2 2z"/>
                                    <path fill="#FFF"
                                          d="M193 85.7V112c0 .5.4.9.9.9h1.1c.5 0 .8-.4.8-.9V85.7c0-.5-.4-.9-.8-.9h-1.1c-.5.1-.9.4-.9.9zM.2 50.7V66c0 .5.4.9.9.9h1.1c.4 0 .8-.4.8-.9V50.7c0-.5-.4-.9-.9-.9H1c-.5.1-.8.4-.8.9zm-.2 35V113c0 .5.4.9.9.9H2c.5 0 .9-.4.9-.9V85.7c0-.5-.4-.9-.9-.9H.9c-.5.1-.9.4-.9.9zm.2 36V149c0 .5.4.9.9.9h1.1c.5 0 .9-.4.9-.9v-27.3c0-.5-.4-.9-.9-.9H1c-.5.1-.8.4-.8.9zM1 30.9h3v5.9H1zm190 0h3v5.9h-3zM1 360.9h3v5.9H1zm190 0h3v5.9h-3z"/>
                                    <defs>
                                        <path id="b" d="M14.5 51.4h166v294.9h-166z"/>
                                    </defs>
                                    <clipPath id="c">
                                        <use xlink:href="#b" overflow="visible"/>
                                    </clipPath>
                                    <g clip-path="url(#c)">
                                        <path fill="#FFF"
                                              d="M165.7 0H29.6C13.9 0 1.2 12.7 1.2 28.3v340.2c0 15.7 12.7 28.3 28.3 28.3h136.1c15.7 0 28.3-12.7 28.3-28.3V28.3C194 12.7 181.3 0 165.7 0zm24.1 366.4c0 14.1-11.4 25.5-25.5 25.5H31.1c-14.1 0-25.5-11.4-25.5-25.5V29.1C5.6 15 17 3.6 31.1 3.6h133.2c14.1 0 25.5 11.4 25.5 25.5v337.3z"/>
                                        <path fill="#FFF"
                                              d="M167.6 396.9H33.5C19 396.9 7.2 385 7.2 370.5V32.2C7.2 17.7 19 5.9 33.5 5.9h134.1c14.6 0 26.4 11.8 26.4 26.4v338.2c0 14.5-11.8 26.4-26.4 26.4z"/>
                                        <path fill="#B3B3B3"
                                              d="M180.5 51.4v295h-166v-295h166m1.5-1.5H13v298h169v-298z"/>
                                        <linearGradient id="d" gradientUnits="userSpaceOnUse" x1="105.002" y1="384.709"
                                                        x2="88.999" y2="356.991">
                                            <stop offset="0" stop-color="#9e9fa1"/>
                                            <stop offset=".115" stop-color="#b6b7b9"/>
                                            <stop offset=".253" stop-color="#cdced0"/>
                                            <stop offset=".34" stop-color="#d5d6d9"/>
                                            <stop offset=".635" stop-color="#d5d6d9"/>
                                            <stop offset=".745" stop-color="#c9cacc"/>
                                            <stop offset=".946" stop-color="#a8a9ab"/>
                                            <stop offset="1" stop-color="#9e9fa1"/>
                                        </linearGradient>
                                        <circle fill="url(#d)" cx="97" cy="370.9" r="16"/>
                                        <circle fill="#F7F7F7" cx="97" cy="370.9" r="14"/>
                                        <circle fill="#E6E6E6" cx="97.5" cy="13.4" r="2.5"/>
                                        <circle fill="#E6E6E6" cx="67.5" cy="25.4" r="3.5"/>
                                        <path fill="#E6E6E6"
                                              d="M110.9 26.9H84c-1.1 0-2-.9-2-2s.9-2 2-2h26.9c1.1 0 2 .9 2 2s-.9 2-2 2z"/>
                                        <path fill="#FFF"
                                              d="M193 85.7V112c0 .5.4.9.9.9h1.1c.5 0 .8-.4.8-.9V85.7c0-.5-.4-.9-.8-.9h-1.1c-.5.1-.9.4-.9.9zM.2 50.7V66c0 .5.4.9.9.9h1.1c.4 0 .8-.4.8-.9V50.7c0-.5-.4-.9-.9-.9H1c-.5.1-.8.4-.8.9zm-.2 35V113c0 .5.4.9.9.9H2c.5 0 .9-.4.9-.9V85.7c0-.5-.4-.9-.9-.9H.9c-.5.1-.9.4-.9.9zm.2 36V149c0 .5.4.9.9.9h1.1c.5 0 .9-.4.9-.9v-27.3c0-.5-.4-.9-.9-.9H1c-.5.1-.8.4-.8.9zM1 30.9h3v5.9H1zm190 0h3v5.9h-3zM1 360.9h3v5.9H1zm190 0h3v5.9h-3z"/>
                                    </g>
                                    <g clip-path="url(#c)">
                                        <g class="message">
                                            <path fill="#FF632A" d="M138.9 178.9L22 163v-46.1h117z"/>
                                            <path fill="#FF632A"
                                                  d="M168 181.9c0 5-4 9-9 9H31c-5 0-9-4-9-9v-56c0-5 4-9 9-9h128c5 0 9 4 9 9v56z"/>
                                            <path d="M40.5 134.6h-.9v-6.9l-3.1 6H36l-3-6v6.9h-1v-8.4h1.2l3.1 6 3.1-6h1.2v8.4zm7.4-6.3l-2.9 7.2c-.4 1-1 1.5-1.9 1.5-.5 0-.9-.2-1.3-.5l.4-.8c.3.2.6.3.9.3.5 0 .9-.3 1.2-.9l.3-.6-2.6-6.3h1l2.1 5.2 2-5.2h.8zm5.3 0v6.6c0 .7-.2 1.2-.5 1.6-.3.4-.8.5-1.3.5s-.9-.1-1.3-.4l.3-.8c.3.2.6.3.9.3.3 0 .5-.1.7-.3.2-.2.2-.5.2-.8v-6.7h1zm-.5-2.5c.2 0 .3.1.5.2.1.1.2.3.2.5s-.1.3-.2.5c-.1.1-.3.2-.5.2s-.3-.1-.4-.2-.2-.3-.2-.5.1-.3.2-.5.2-.2.4-.2zm3 3.4c.6-.6 1.4-.9 2.3-.9s1.7.3 2.3.9c.6.6.9 1.4.9 2.3 0 .9-.3 1.7-.9 2.3-.6.6-1.4.9-2.3.9s-1.7-.3-2.3-.9c-.6-.6-.9-1.4-.9-2.3 0-1 .3-1.7.9-2.3zm4 .6c-.4-.4-1-.7-1.6-.7s-1.2.2-1.6.7c-.4.4-.6 1-.6 1.7s.2 1.3.6 1.7c.4.4 1 .7 1.6.7s1.2-.2 1.6-.7c.4-.4.6-1 .6-1.7s-.2-1.3-.6-1.7zm6.6-1.5c.9 0 1.6.3 2.2.9s.8 1.4.8 2.3c0 .9-.3 1.7-.8 2.3-.6.6-1.3.9-2.2.9-1.1 0-2-.5-2.5-1.4v1.4h-.9v-8.9h.9v3.9c.6-1 1.4-1.4 2.5-1.4zm-.2 5.5c.7 0 1.2-.2 1.6-.7s.6-1 .6-1.7-.2-1.2-.6-1.7-1-.7-1.6-.7c-.7 0-1.2.2-1.6.7-.4.4-.6 1-.6 1.7s.2 1.3.6 1.7c.4.5 1 .7 1.6.7zm8.2-7.8c.1-.1.3-.2.4-.2.2 0 .3.1.4.2.1.1.2.3.2.5s-.1.3-.2.5c-.1.1-.3.2-.4.2-.2 0-.3-.1-.4-.2-.1-.1-.2-.3-.2-.5s.1-.3.2-.5zm.9 8.6h-.9v-6.3h.9v6.3zm4-6.3c.8 0 1.5.2 2 .6l-.4.7c-.5-.3-1.1-.5-1.7-.5-.4 0-.7.1-.9.2-.2.1-.3.4-.3.6 0 .3.1.5.4.6.2.2.5.3.9.4.3.1.7.2 1 .3.3.1.6.3.9.6s.4.6.4 1c0 .6-.2 1-.7 1.3s-1 .5-1.6.5c-1 0-1.8-.3-2.4-.9l.4-.7c.3.2.6.4 1 .6s.8.2 1.1.2c.4 0 .7-.1 1-.2s.4-.4.4-.7c0-.3-.1-.5-.3-.7-.2-.2-.5-.3-.9-.4-.3-.1-.7-.2-1-.3-.3-.1-.6-.3-.9-.6-.2-.3-.4-.6-.4-1 0-.6.2-1 .6-1.3.2-.2.7-.3 1.4-.3zm10 5.1l.3.8c-.5.3-.9.5-1.4.5-.5 0-.9-.1-1.2-.4-.3-.3-.4-.8-.4-1.4v-3.6h-.9v-.8h.9v-1.7h.9v1.7h2v.8h-2v3.4c0 .7.3 1.1.8 1.1.3 0 .7-.1 1-.4zm1.8-4.2c.6-.6 1.4-.9 2.3-.9s1.7.3 2.3.9c.6.6.9 1.4.9 2.3 0 .9-.3 1.7-.9 2.3-.6.6-1.4.9-2.3.9s-1.7-.3-2.3-.9c-.6-.6-.9-1.4-.9-2.3 0-1 .3-1.7.9-2.3zm4 .6c-.4-.4-1-.7-1.6-.7s-1.2.2-1.6.7c-.4.4-.6 1-.6 1.7s.2 1.3.6 1.7c.4.4 1 .7 1.6.7s1.2-.2 1.6-.7c.4-.4.6-1 .6-1.7s-.2-1.3-.6-1.7zm9.9-1.5c.8 0 1.3.2 1.8.7.4.4.6 1 .6 1.8v3.9h-.9V131c0-.6-.2-1-.5-1.3s-.8-.5-1.3-.5c-.7 0-1.2.2-1.6.6s-.6 1-.6 1.7v3.1h-.9v-8.9h.9v4c.5-.9 1.3-1.4 2.5-1.4zm7 0c1 0 1.8.3 2.3.9.5.6.7 1.5.7 2.6h-5.2c.1.6.3 1.1.7 1.5.4.4.9.5 1.5.5.8 0 1.5-.3 2-.8l.5.6c-.6.7-1.5 1.1-2.5 1.1-.9 0-1.7-.3-2.3-.9-.6-.6-.9-1.4-.9-2.3 0-.9.3-1.7.9-2.3.7-.6 1.4-.9 2.3-.9zm-2.2 2.8h4.3c0-.6-.2-1.1-.6-1.4s-.9-.5-1.5-.5-1.1.2-1.5.5c-.4.3-.6.8-.7 1.4zm7.8 3.5h-.9v-8.9h.9v8.9zm5.8-6.3c.9 0 1.6.3 2.2.9.6.6.8 1.4.8 2.3 0 .9-.3 1.7-.8 2.3-.6.6-1.3.9-2.2.9-1.1 0-2-.5-2.5-1.4v3.7h-.9v-8.7h.9v1.4c.5-1 1.3-1.4 2.5-1.4zm-.2 5.5c.7 0 1.2-.2 1.6-.7.4-.4.6-1 .6-1.7s-.2-1.2-.6-1.7c-.4-.4-1-.7-1.6-.7-.7 0-1.2.2-1.6.7-.4.4-.6 1-.6 1.7s.2 1.3.6 1.7c.4.5.9.7 1.6.7zm13-5.5l-2.9 7.2c-.4 1-1 1.5-1.9 1.5-.5 0-.9-.2-1.3-.5l.4-.8c.3.2.6.3.9.3.5 0 .9-.3 1.2-.9l.3-.6-2.6-6.3h1l2.1 5.2 2-5.2h.8zm1.2.9c.6-.6 1.4-.9 2.3-.9s1.7.3 2.3.9c.6.6.9 1.4.9 2.3 0 .9-.3 1.7-.9 2.3-.6.6-1.4.9-2.3.9s-1.7-.3-2.3-.9c-.6-.6-.9-1.4-.9-2.3 0-1 .3-1.7.9-2.3zm3.9.6c-.4-.4-1-.7-1.6-.7s-1.2.2-1.6.7-.6 1-.6 1.7.2 1.3.6 1.7 1 .7 1.6.7 1.2-.2 1.6-.7.6-1 .6-1.7c.1-.7-.1-1.3-.6-1.7zm8.7-1.5v6.3h-.9v-1.4c-.4 1-1.2 1.4-2.4 1.5-.7 0-1.3-.2-1.7-.7s-.6-1-.6-1.8v-3.9h.9v3.6c0 .6.2 1 .5 1.3.3.3.7.5 1.3.5.6 0 1.2-.2 1.5-.7.4-.4.6-1 .6-1.7v-3.1h.8zM32.2 143.6c.6-.6 1.4-.9 2.3-.9s1.7.3 2.3.9c.6.6.9 1.4.9 2.3 0 .9-.3 1.7-.9 2.3-.6.6-1.4.9-2.3.9s-1.7-.3-2.3-.9c-.6-.6-.9-1.4-.9-2.3 0-1 .3-1.7.9-2.3zm3.9.6c-.4-.4-1-.7-1.6-.7s-1.2.2-1.6.7c-.4.4-.6 1-.6 1.7s.2 1.3.6 1.7c.4.4 1 .7 1.6.7s1.2-.2 1.6-.7c.4-.4.6-1 .6-1.7s-.2-1.3-.6-1.7zm8.7-1.5v6.3h-.9v-1.4c-.4 1-1.2 1.4-2.4 1.5-.7 0-1.3-.2-1.7-.7-.4-.4-.6-1-.6-1.8v-3.9h.8v3.6c0 .6.2 1 .5 1.3s.7.5 1.3.5c.6 0 1.2-.2 1.5-.7.4-.4.6-1 .6-1.7v-3.1h.9zm5.3 5.1l.3.8c-.5.3-.9.5-1.4.5-.5 0-.9-.1-1.2-.4-.3-.3-.4-.8-.4-1.4v-3.6h-.9v-.8h.9v-1.7h.9v1.7h2v.8h-2v3.4c0 .7.3 1.1.8 1.1.3 0 .6-.1 1-.4zM62 149h-1l-1.9-5.1-1.8 5.1h-1l-2.4-6.3h1l1.9 5.4 1.8-5.4h1l1.9 5.4 1.8-5.4h1L62 149zm3.4-8.6c.1-.1.3-.2.4-.2.2 0 .3.1.4.2.1.1.2.3.2.5s-.1.3-.2.5c-.1.1-.3.2-.4.2-.2 0-.3-.1-.4-.2-.1-.1-.2-.3-.2-.5s.1-.3.2-.5zm.9 8.6h-.9v-6.3h.9v6.3zm5.3-1.2l.3.8c-.5.3-.9.5-1.4.5-.5 0-.9-.1-1.2-.4-.3-.3-.4-.8-.4-1.4v-3.6H68v-.8h.9v-1.7h.9v1.7h2v.8h-2v3.4c0 .7.3 1.1.8 1.1.3 0 .7-.1 1-.4zm5.1-5.1c.8 0 1.3.2 1.8.7.4.4.6 1 .6 1.8v3.9h-.9v-3.6c0-.6-.2-1-.5-1.3s-.8-.5-1.3-.5c-.7 0-1.2.2-1.6.6s-.6 1-.6 1.7v3.1h-.9v-8.9h.9v4c.5-1 1.3-1.5 2.5-1.5zm11.3 0c.9 0 1.6.3 2.2.9s.8 1.4.8 2.3c0 .9-.3 1.7-.8 2.3-.6.6-1.3.9-2.2.9-1.1 0-2-.5-2.5-1.4v3.7h-.9v-8.7h.9v1.4c.5-1 1.3-1.4 2.5-1.4zm-.2 5.5c.7 0 1.2-.2 1.6-.7s.6-1 .6-1.7-.2-1.2-.6-1.7-1-.7-1.6-.7c-.7 0-1.2.2-1.6.7-.4.4-.6 1-.6 1.7s.2 1.3.6 1.7c.4.5.9.7 1.6.7zm10.3-5.5v6.3h-.9v-1.4c-.4 1-1.2 1.4-2.4 1.5-.7 0-1.3-.2-1.7-.7-.4-.4-.6-1-.6-1.8v-3.9h.9v3.6c0 .6.2 1 .5 1.3s.7.5 1.3.5c.6 0 1.2-.2 1.5-.7.4-.4.6-1 .6-1.7v-3.1h.8zm3.2 0v1.4c.4-.9 1.2-1.4 2.3-1.4v.9c-.7 0-1.2.2-1.6.5-.4.4-.6.9-.7 1.5v3.4h-.9v-6.3h.9zm6.1 0c1 0 1.8.3 2.4.9l-.5.7c-.5-.5-1.1-.7-1.9-.7-.7 0-1.2.2-1.6.6s-.6 1-.6 1.7.2 1.2.6 1.7c.4.4 1 .7 1.6.7.8 0 1.5-.3 2-.8l.5.6c-.6.7-1.4 1.1-2.5 1.1-.9 0-1.7-.3-2.3-.9-.6-.6-.9-1.4-.9-2.3 0-.9.3-1.7.9-2.3.6-.7 1.3-1 2.3-1zm7.6 0c.8 0 1.3.2 1.8.7.4.4.6 1 .6 1.8v3.9h-.9v-3.6c0-.6-.2-1-.5-1.3s-.8-.5-1.3-.5c-.7 0-1.2.2-1.6.6s-.6 1-.6 1.7v3.1h-.9v-8.9h.9v4c.5-1 1.3-1.5 2.5-1.5zm8.5 6.3v-1c-.5.7-1.3 1-2.3 1-.6 0-1.2-.2-1.6-.5-.4-.4-.6-.8-.6-1.4 0-.6.2-1 .6-1.3.4-.3 1-.5 1.7-.5h2.1v-.3c0-.5-.1-.8-.4-1.1-.3-.3-.7-.4-1.3-.4-.6 0-1.3.2-2 .7l-.4-.7c.4-.3.9-.5 1.2-.6.4-.1.8-.2 1.3-.2.8 0 1.4.2 1.8.6.4.4.6.9.6 1.6v4.2h-.7zm-2.2-.7c.5 0 1-.1 1.4-.4s.6-.6.8-1v-.8h-2c-1.1 0-1.6.3-1.6 1 0 .4.1.6.4.8s.6.4 1 .4zm6.8-5.6c.8 0 1.5.2 2 .6l-.4.7c-.5-.3-1.1-.5-1.7-.5-.4 0-.7.1-.9.2-.2.1-.3.4-.3.6 0 .3.1.5.4.6.2.2.5.3.9.4.3.1.7.2 1 .3s.6.3.9.6.4.6.4 1c0 .6-.2 1-.7 1.3s-1 .5-1.7.5c-1 0-1.8-.3-2.4-.9l.4-.7c.3.2.6.4 1 .6s.8.2 1.1.2c.4 0 .7-.1 1-.2s.4-.4.4-.7c0-.3-.1-.5-.3-.7-.2-.2-.5-.3-.9-.4-.3-.1-.7-.2-1-.3-.3-.1-.6-.3-.9-.6-.2-.3-.4-.6-.4-1 0-.6.2-1 .6-1.3.4-.2.9-.3 1.5-.3zm3.8-2.3c.1-.1.3-.2.4-.2s.3.1.4.2c.1.1.2.3.2.5s-.1.3-.2.5c-.1.1-.3.2-.4.2s-.3-.1-.4-.2c-.1-.1-.2-.3-.2-.5s.1-.3.2-.5zm.9 8.6h-.9v-6.3h.9v6.3zm5.7-6.3c.8 0 1.3.2 1.8.7s.6 1 .6 1.8v3.9h-.9v-3.6c0-.6-.2-1-.5-1.3-.3-.3-.8-.5-1.3-.5-.6 0-1.1.2-1.5.6s-.6.9-.6 1.5v3.4h-.9v-6.3h.9v1.4c.4-1.1 1.2-1.6 2.4-1.6zm10 0v5.7c0 .9-.3 1.7-.9 2.2-.6.5-1.4.8-2.3.8-.9 0-1.8-.3-2.6-.9l.4-.7c.6.5 1.3.8 2.1.8.7 0 1.2-.2 1.7-.6.4-.4.6-.9.6-1.6v-1c-.5.9-1.2 1.3-2.3 1.3-.8 0-1.5-.3-2.1-.9s-.8-1.3-.8-2.2c0-.9.3-1.6.8-2.2s1.2-.9 2.1-.9c1.1 0 1.9.4 2.4 1.3v-1.3h.9zm-4.7 4.6c.4.4.9.6 1.6.6s1.2-.2 1.6-.6c.4-.4.6-1 .6-1.6 0-.7-.2-1.2-.6-1.6-.4-.4-.9-.6-1.6-.6s-1.1.2-1.6.6-.6 1-.6 1.6c0 .7.2 1.2.6 1.6zm-108 16.1v-1c-.5.7-1.3 1-2.3 1-.6 0-1.2-.2-1.6-.5-.4-.4-.6-.8-.6-1.4 0-.6.2-1 .6-1.3.4-.3 1-.5 1.7-.5h2.1v-.4c0-.5-.1-.8-.4-1.1-.3-.3-.7-.4-1.3-.4-.6 0-1.3.2-2 .7l-.4-.7c.4-.3.9-.5 1.2-.6.4-.1.8-.2 1.3-.2.8 0 1.4.2 1.8.6.4.4.6.9.6 1.6v4.2h-.7zm-2.1-.7c.5 0 1-.1 1.4-.4s.6-.6.8-1v-.8h-2c-1.1 0-1.6.3-1.6 1 0 .4.1.6.4.8s.5.4 1 .4zm8.5-5.6c.8 0 1.3.2 1.8.7.4.4.6 1 .6 1.8v3.9h-.9v-3.6c0-.6-.2-1-.5-1.3-.3-.3-.8-.5-1.3-.5-.6 0-1.1.2-1.5.6-.4.4-.6.9-.6 1.5v3.4h-.9v-6.3h.9v1.4c.4-1.1 1.2-1.6 2.4-1.6zm10.3-2.6v8.9h-.9V162c-.5.9-1.3 1.4-2.5 1.4-.9 0-1.6-.3-2.2-.9s-.9-1.4-.9-2.3.3-1.7.8-2.3c.6-.6 1.3-.9 2.2-.9.6 0 1.1.1 1.5.4.4.2.8.6 1 1v-3.9h1zm-3.2 8.1c.7 0 1.2-.2 1.6-.7.4-.4.6-1 .6-1.7s-.2-1.3-.6-1.7c-.4-.4-1-.7-1.6-.7-.7 0-1.2.2-1.6.7-.4.4-.6 1-.6 1.7s.2 1.3.6 1.7c.4.5.9.7 1.6.7zm11.8-.4l.3.8c-.5.3-.9.5-1.4.5-.5 0-.9-.1-1.2-.4-.3-.3-.4-.8-.4-1.4v-3.6h-.9v-.8h.9v-1.7h.9v1.7h2v.8h-2v3.4c0 .7.3 1.1.8 1.1.3 0 .7-.1 1-.4zm2.6-5.1v1.4c.4-.9 1.2-1.4 2.3-1.4v.9c-.7 0-1.2.2-1.6.5-.4.4-.6.9-.7 1.5v3.4h-.9v-6.3h.9zm7.2 6.3v-1c-.5.7-1.3 1-2.3 1-.6 0-1.2-.2-1.6-.5-.4-.4-.6-.8-.6-1.4 0-.6.2-1 .6-1.3.4-.3 1-.5 1.7-.5h2.1v-.4c0-.5-.1-.8-.4-1.1-.3-.3-.7-.4-1.3-.4-.6 0-1.3.2-2 .7l-.4-.7c.4-.3.9-.5 1.2-.6.4-.1.8-.2 1.3-.2.8 0 1.4.2 1.8.6.4.4.6.9.6 1.6v4.2h-.7zm-2.1-.7c.5 0 1-.1 1.4-.4s.6-.6.8-1v-.8h-2c-1.1 0-1.6.3-1.6 1 0 .4.1.6.4.8s.5.4 1 .4zm8.5-5.6c.8 0 1.3.2 1.8.7.4.4.6 1 .6 1.8v3.9h-.9v-3.6c0-.6-.2-1-.5-1.3-.3-.3-.8-.5-1.3-.5-.6 0-1.1.2-1.5.6-.4.4-.6.9-.6 1.5v3.4H74v-6.3h.9v1.4c.4-1.1 1.2-1.6 2.4-1.6zm6.1 0c.8 0 1.5.2 2 .6l-.4.7c-.5-.3-1.1-.5-1.7-.5-.4 0-.7.1-.9.2-.2.1-.3.4-.3.6 0 .3.1.5.4.6.2.2.5.3.9.4.3.1.7.2 1 .3.3.1.6.3.9.6s.4.6.4 1c0 .6-.2 1-.7 1.3s-1 .5-1.6.5c-1 0-1.8-.3-2.4-.9l.4-.7c.3.2.6.4 1 .6s.8.2 1.1.2c.4 0 .7-.1 1-.2s.4-.4.4-.7c0-.3-.1-.5-.3-.7-.2-.2-.5-.3-.9-.4-.3-.1-.7-.2-1-.3-.3-.1-.6-.3-.9-.6-.2-.3-.4-.6-.4-1 0-.6.2-1 .6-1.3.3-.2.8-.3 1.4-.3zm6-1.7c-.3 0-.6.1-.8.3-.2.2-.3.5-.3.8v.8h1.8v.8h-1.8v5.4h-.9v-5.4h-.8v-.8h.8v-.7c0-.7.2-1.2.6-1.6s.9-.6 1.4-.6c.5 0 1 .2 1.4.4l-.4.8c-.3-.1-.6-.2-1-.2zm4.1 1.7c1 0 1.8.3 2.3.9.5.6.7 1.5.7 2.6h-5.2c.1.6.3 1.1.7 1.5.4.4.9.5 1.5.5.8 0 1.5-.3 2-.8l.5.6c-.6.7-1.5 1.1-2.5 1.1-.9 0-1.7-.3-2.3-.9-.6-.6-.9-1.4-.9-2.3 0-.9.3-1.7.9-2.3.6-.6 1.3-.9 2.3-.9zm-2.2 2.8h4.3c0-.6-.2-1.1-.6-1.4s-.9-.5-1.5-.5-1.1.2-1.5.5c-.4.3-.7.8-.7 1.4zm7.7-2.8v1.4c.4-.9 1.2-1.4 2.3-1.4v.9c-.7 0-1.2.2-1.6.5-.4.4-.6.9-.7 1.5v3.4h-1v-6.3h1zm4.4 0v1.4c.4-.9 1.2-1.4 2.3-1.4v.9c-.7 0-1.2.2-1.6.5-.4.4-.6.9-.7 1.5v3.4h-.9v-6.3h.9zm3.6-2.3c.1-.1.3-.2.4-.2s.3.1.4.2c.1.1.2.3.2.5s-.1.3-.2.5c-.1.1-.3.2-.4.2s-.3-.1-.4-.2c-.1-.1-.2-.3-.2-.5s.1-.3.2-.5zm.9 8.6h-.9v-6.3h.9v6.3zm5.6-6.3c.8 0 1.3.2 1.8.7s.6 1 .6 1.8v3.9h-.9v-3.6c0-.6-.2-1-.5-1.3-.3-.3-.8-.5-1.3-.5-.6 0-1.1.2-1.5.6s-.6.9-.6 1.5v3.4h-.9v-6.3h.9v1.4c.4-1.1 1.2-1.6 2.4-1.6zm10 0v5.7c0 .9-.3 1.7-.9 2.2-.6.5-1.4.8-2.3.8-.9 0-1.8-.3-2.6-.9l.4-.7c.6.5 1.3.8 2.1.8.7 0 1.2-.2 1.7-.6.4-.4.6-.9.6-1.6v-1c-.5.9-1.2 1.3-2.3 1.3-.8 0-1.5-.3-2.1-.9s-.8-1.3-.8-2.2c0-.9.3-1.6.8-2.2s1.2-.9 2.1-.9c1.1 0 1.9.4 2.4 1.3v-1.3h.9zm-4.6 4.6c.4.4.9.6 1.6.6s1.2-.2 1.6-.6c.4-.4.6-1 .6-1.6 0-.7-.2-1.2-.6-1.6-.4-.4-.9-.6-1.6-.6s-1.1.2-1.6.6-.6 1-.6 1.6c0 .7.2 1.2.6 1.6zm10.2-6.7h3.5c.8 0 1.5.2 2 .6.5.4.7.9.7 1.5 0 .5-.1.9-.4 1.2-.3.3-.7.6-1.1.7.6.1 1.1.3 1.4.7s.5.9.5 1.4c0 .7-.3 1.3-.8 1.7s-1.3.6-2.2.6h-3.6V155zm.9 1v2.7h2.5c.6 0 1-.1 1.3-.4.3-.2.5-.6.5-1s-.2-.8-.5-1c-.3-.2-.8-.3-1.3-.3H130zm0 3.6v3h2.5c.7 0 1.2-.1 1.6-.4.4-.3.6-.6.6-1.1 0-.5-.2-.8-.6-1.1-.4-.3-.9-.4-1.6-.4H130zm13 1.7h-4.6l-.9 2.1h-1l3.8-8.4h1l3.8 8.4h-1l-1.1-2.1zm-.4-.9l-1.9-4.3-1.9 4.3h3.8zm9.4-4.4h-4.7v2.8h4.2v.9h-4.2v2.9h4.9v.9h-5.9V155h5.7v1zM34.9 176.6l.3.8c-.5.3-.9.5-1.4.5-.5 0-.9-.1-1.2-.4-.3-.3-.4-.8-.4-1.4v-3.6h-.9v-.8h.9V170h.8v1.7h2v.8h-2v3.4c0 .7.3 1.1.8 1.1.4 0 .7-.1 1.1-.4zm1.8-4.2c.6-.6 1.4-.9 2.3-.9s1.7.3 2.3.9c.6.6.9 1.4.9 2.3 0 .9-.3 1.7-.9 2.3-.6.6-1.4.9-2.3.9s-1.7-.3-2.3-.9c-.6-.6-.9-1.4-.9-2.3 0-1 .3-1.7.9-2.3zm4 .6c-.4-.4-1-.7-1.6-.7s-1.2.2-1.6.7c-.4.4-.6 1-.6 1.7s.2 1.3.6 1.7c.4.4 1 .7 1.6.7s1.2-.2 1.6-.7c.4-.4.6-1 .6-1.7s-.2-1.3-.6-1.7zm5.5 1.6l-1.3 1.4v1.8H44v-8.9h.9v5.8l3.3-3.2h1.1l-2.4 2.4 2.6 3.9h-1.1l-2.2-3.2zm6.8-3.1c1 0 1.8.3 2.3.9.5.6.7 1.5.7 2.6h-5.2c.1.6.3 1.1.7 1.5.4.4.9.5 1.5.5.8 0 1.5-.3 2-.8l.5.6c-.6.7-1.5 1.1-2.5 1.1-.9 0-1.7-.3-2.3-.9-.6-.6-.9-1.4-.9-2.3 0-.9.3-1.7.9-2.3.6-.6 1.4-.9 2.3-.9zm-2.2 2.8h4.3c0-.6-.2-1.1-.6-1.4s-.9-.5-1.5-.5-1.1.2-1.5.5c-.4.3-.6.8-.7 1.4zm10.1-2.8c.8 0 1.3.2 1.8.7.4.4.6 1 .6 1.8v3.9h-.9v-3.6c0-.6-.2-1-.5-1.3-.3-.3-.8-.5-1.3-.5-.6 0-1.1.2-1.5.6-.4.4-.6.9-.6 1.5v3.4h-.9v-6.3h.9v1.4c.4-1.1 1.2-1.6 2.4-1.6zm6.2 0c.8 0 1.5.2 2 .6l-.4.7c-.5-.3-1.1-.5-1.7-.5-.4 0-.7.1-.9.2-.2.1-.3.4-.3.6 0 .3.1.5.4.6.2.2.5.3.9.4.3.1.7.2 1 .3.3.1.6.3.9.6s.4.6.4 1c0 .6-.2 1-.7 1.3s-1 .5-1.6.5c-1 0-1.8-.3-2.4-.9l.4-.7c.3.2.6.4 1 .6s.8.2 1.1.2c.4 0 .7-.1 1-.2s.4-.4.4-.7c0-.3-.1-.5-.3-.7-.2-.2-.5-.3-.9-.4-.3-.1-.7-.2-1-.3-.3-.1-.6-.3-.9-.6-.2-.3-.4-.6-.4-1 0-.6.2-1 .6-1.3.3-.2.8-.3 1.4-.3z"
                                                  fill="#FFF"/>
                                        </g>
                                        <g class="message">
                                            <path fill="#FF632A"
                                                  d="M89.4 87.9H22.8c-.4 0-.8.3-.8.7v25.6c0 .4.4.7.8.7l7.5-.1c.4 0 .8.1 1.2.1h57.9c5.2 0 9.6-4.5 9.6-10v-7c0-5.6-4.4-10-9.6-10z"/>
                                            <path fill="#FFD21F"
                                                  d="M91.7 100.4c0 3.2-2.6 5.8-5.8 5.8-3.2 0-5.8-2.6-5.8-5.8s2.6-5.8 5.8-5.8c3.2 0 5.8 2.6 5.8 5.8z"/>
                                            <path d="M91.6 96.7c-.1-.5-.4-1-.9-1.1-.5-.1-1 .1-1.4.5-.3-.7-.6-1.2-1.3-1.5-.6-.3-1.2-.1-1.6.4-.4.5-.6 1.3-.1 2.3.4 1 2.2 2.9 2.3 3 .1 0 2.1-1.3 2.6-1.9.4-.5.5-1.1.4-1.7m-6.3-1.6c-.4-.5-1-.7-1.6-.4-.6.3-1 .8-1.3 1.5-.5-.4-.9-.7-1.5-.5-.5.1-.8.6-.9 1.1-.1.5 0 1.1.5 1.7.5.6 2.5 1.9 2.6 1.9.1-.1 1.9-2 2.3-3 .4-1 .3-1.8-.1-2.3"
                                                  fill="#F42222"/>
                                            <path fill="#403408"
                                                  d="M89.1 101.6c0-.2-.1-.4-.3-.4-.7-.1-1.7-.3-3-.3s-2.3.1-3 .3c-.3.1-.3.3-.3.4 0 1.4 1.1 2.8 3.3 2.8 2.3 0 3.3-1.4 3.3-2.8"/>
                                            <path fill="#FFF"
                                                  d="M88.3 101.6c-.4-.1-1.3-.2-2.5-.2s-2 .1-2.5.2c-.3 0-.3.1-.3.3 0 .1 0 .2.1.3 0 .1.1.2.3.2h4.8c.2 0 .2 0 .3-.2 0-.1 0-.2.1-.3 0-.1 0-.2-.3-.3m-56.1 2.8h-1V96h1v8.4zm2.1-8.3c.1-.1.2-.2.4-.2s.3.1.4.2.2.3.2.4c0 .2-.1.3-.2.5l-.6.9H34l.4-.9c-.2-.1-.3-.3-.3-.5 0-.1.1-.3.2-.4zM45.1 98c.7 0 1.3.2 1.7.7s.6 1 .6 1.8v3.9h-.9v-3.6c0-.6-.2-1-.5-1.3s-.7-.5-1.3-.5c-.6 0-1.2.2-1.5.7-.4.4-.5 1-.5 1.7v3.1h-.9v-3.6c0-.6-.2-1-.5-1.3-.3-.3-.7-.5-1.3-.5-.6 0-1.1.2-1.5.7s-.6 1-.6 1.7v3.1H37V98h.9v1.4c.4-1 1.2-1.4 2.4-1.5.6 0 1.1.1 1.5.4.4.3.7.7.8 1.2.4-.9 1.2-1.5 2.5-1.5zm7.9-2h3.5c.8 0 1.5.2 2 .6.5.4.7.9.7 1.5 0 .5-.1.9-.4 1.2-.3.3-.7.6-1.1.7.6.1 1.1.3 1.4.7s.5.9.5 1.4c0 .7-.3 1.3-.8 1.7-.5.4-1.3.6-2.2.6H53V96zm.9.9v2.7h2.5c.6 0 1-.1 1.3-.4s.5-.6.5-1-.2-.8-.5-1-.8-.3-1.3-.3h-2.5zm0 3.6v3h2.5c.7 0 1.2-.1 1.6-.4.4-.3.6-.6.6-1.1 0-.5-.2-.8-.6-1.1-.4-.3-.9-.4-1.6-.4h-2.5zm11.4 3.9v-1c-.5.7-1.3 1-2.3 1-.6 0-1.2-.2-1.6-.5-.4-.4-.6-.8-.6-1.4 0-.6.2-1 .6-1.3.4-.3 1-.5 1.7-.5h2.1v-.4c0-.5-.1-.8-.4-1.1-.3-.3-.7-.4-1.3-.4-.6 0-1.3.2-2 .7l-.4-.7c.4-.3.9-.5 1.2-.6.4-.1.8-.2 1.3-.2.8 0 1.4.2 1.8.6.4.4.6.9.6 1.6v4.2h-.7zm-2.1-.8c.5 0 1-.1 1.4-.4s.6-.6.8-1v-.8h-2c-1.1 0-1.6.3-1.6 1 0 .4.1.6.4.8s.6.4 1 .4zm7.6-5.6c1 0 1.8.3 2.3.9.5.6.7 1.5.7 2.6h-5.2c.1.6.3 1.1.7 1.5.4.4.9.5 1.5.5.8 0 1.5-.3 2-.8l.5.6c-.6.7-1.5 1.1-2.5 1.1-.9 0-1.7-.3-2.3-.9-.6-.6-.9-1.4-.9-2.3 0-.9.3-1.7.9-2.3.7-.6 1.4-.9 2.3-.9zm-2.2 2.8h4.3c0-.6-.2-1.1-.6-1.4s-.9-.5-1.5-.5-1.1.2-1.5.5c-.4.3-.6.8-.7 1.4z"/>
                                        </g>
                                        <g class="message">
                                            <path fill="#FF632A" d="M109.5 85.9H22v-8.8l97 .5z"/>
                                            <path fill="#FF632A"
                                                  d="M119 76.9c0 5-4 9-9 9H31c-5 0-9-4-9-9v-9c0-5 4-9 9-9h79c5 0 9 4 9 9v9z"/>
                                            <circle fill="#FFD21F" cx="104.7" cy="72.1" r="5.9"/>
                                            <path d="M101.2 71.9c-.2 0-.3-.1-.3-.3 0-.1 0-.6.3-.9.2-.2.5-.3.8-.3.3 0 .6.1.8.3.3.3.3.9.3.9 0 .2-.1.3-.3.3-.2 0-.3-.1-.3-.3 0-.1 0-.3-.2-.5-.1-.1-.2-.1-.3-.1s-.3 0-.3.1c-.2.2-.2.5-.2.5 0 .2-.2.3-.3.3zm5.3 0c-.2 0-.3-.1-.3-.3 0-.1 0-.6.3-.9.2-.2.5-.3.8-.3.3 0 .6.1.8.3.3.3.3.9.3.9 0 .2-.1.3-.3.3-.2 0-.3-.1-.3-.3 0-.1 0-.3-.2-.5-.1-.1-.2-.1-.3-.1-.1 0-.3 0-.3.1-.2.2-.2.5-.2.5.1.2-.1.3-.3.3.1 0 .1 0 0 0zm-4.9.9c-.1 0-.2.1-.2.2.3.6 1.1 2.2 3.2 2.2s3-1.6 3.2-2.2c0-.1 0-.3-.2-.3l-6 .1z"
                                                  fill="#403408"/>
                                            <defs>
                                                <path id="e"
                                                      d="M101.6 72.8c-.1 0-.2.1-.2.2.3.6 1.1 2.2 3.2 2.2s3-1.6 3.2-2.2c0-.1 0-.3-.2-.3l-6 .1z"/>
                                            </defs>
                                            <clipPath id="f">
                                                <use xlink:href="#e" overflow="visible"/>
                                            </clipPath>
                                            <path clip-path="url(#f)" fill="#FFF"
                                                  d="M101.9 72.8c-.1 0-.2 0-.2.1.2.2 1 .6 2.9.6s2.7-.4 2.9-.6c0 0 0-.1-.2-.1h-5.4z"/>
                                            <ellipse clip-path="url(#f)" fill="#D1212D" cx="104.6" cy="75.7" rx="2.3"
                                                     ry="1.2"/>
                                            <path d="M36.7 76.3h-1v-3.7h-5.1v3.7h-1v-8.4h1v3.8h5.1v-3.8h1v8.4zm4.9-6.3c1 0 1.8.3 2.3.9.5.6.7 1.5.7 2.6h-5.2c.1.6.3 1.1.7 1.5.4.4.9.5 1.5.5.8 0 1.5-.3 2-.8l.5.6c-.6.7-1.5 1.1-2.5 1.1-.9 0-1.7-.3-2.3-.9-.6-.6-.9-1.4-.9-2.3 0-.9.3-1.7.9-2.3.6-.6 1.4-.9 2.3-.9zm-2.2 2.8h4.3c0-.6-.2-1.1-.6-1.4s-.9-.5-1.5-.5-1.1.2-1.5.5c-.4.3-.6.8-.7 1.4zm7.7 3.5h-.9v-8.9h.9v8.9zm3.4 0h-.9v-8.9h.9v8.9zm2.6-5.4c.6-.6 1.4-.9 2.3-.9s1.7.3 2.3.9c.6.6.9 1.4.9 2.3 0 .9-.3 1.7-.9 2.3-.6.6-1.4.9-2.3.9s-1.7-.3-2.3-.9c-.6-.6-.9-1.4-.9-2.3 0-1 .3-1.8.9-2.3zm3.9.6c-.4-.4-1-.7-1.6-.7s-1.2.2-1.6.7c-.4.4-.6 1-.6 1.7s.2 1.3.6 1.7c.4.4 1 .7 1.6.7s1.2-.2 1.6-.7c.4-.4.6-1 .6-1.7.1-.7-.2-1.3-.6-1.7zm9.5 3.6l.3.8c-.5.3-.9.5-1.4.5-.5 0-.9-.1-1.2-.4-.3-.3-.4-.8-.4-1.4V71h-.9v-.8h.9v-1.7h.9v1.7h2v.8h-2v3.4c0 .7.3 1.1.8 1.1.3 0 .7-.2 1-.4zm5.2-5.1c.8 0 1.3.2 1.8.7.4.4.6 1 .6 1.8v3.9h-.9v-3.6c0-.6-.2-1-.5-1.3s-.8-.5-1.3-.5c-.7 0-1.2.2-1.6.6s-.6 1-.6 1.7v3.1h-.9v-8.9h.9v4c.4-1 1.2-1.5 2.5-1.5zm6.9 0c1 0 1.8.3 2.3.9.5.6.7 1.5.7 2.6h-5.2c.1.6.3 1.1.7 1.5.4.4.9.5 1.5.5.8 0 1.5-.3 2-.8l.5.6c-.6.7-1.5 1.1-2.5 1.1-.9 0-1.7-.3-2.3-.9-.6-.6-.9-1.4-.9-2.3 0-.9.3-1.7.9-2.3.7-.6 1.4-.9 2.3-.9zm-2.2 2.8h4.3c0-.6-.2-1.1-.6-1.4s-.9-.5-1.5-.5-1.1.2-1.5.5c-.4.3-.6.8-.7 1.4zm7.7-2.8v1.4c.4-.9 1.2-1.4 2.3-1.4v.9c-.7 0-1.2.2-1.6.5-.4.4-.6.9-.7 1.5v3.4h-.9V70h.9zm6.1 0c1 0 1.8.3 2.3.9.5.6.7 1.5.7 2.6H88c.1.6.3 1.1.7 1.5.4.4.9.5 1.5.5.8 0 1.5-.3 2-.8l.5.6c-.6.7-1.5 1.1-2.5 1.1-.9 0-1.7-.3-2.3-.9-.6-.6-.9-1.4-.9-2.3 0-.9.3-1.7.9-2.3.6-.6 1.3-.9 2.3-.9zM88 72.8h4.3c0-.6-.2-1.1-.6-1.4s-.9-.5-1.5-.5-1.1.2-1.5.5c-.4.3-.7.8-.7 1.4z"
                                                  fill="#FFF"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 mb-4">
                            <div class="row">
                                <div class="col-12 logo-container top">
                                    <img class="img-fluid logo" src="{% static "img/logo.png" %}"/>
                                </div>
                                {% if not is_success %}
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <h1 class="display-4">Put Your Money Where Your Emoji Is</h1>
                                                <h4 class="lead">Introducing <span class="app-name">BAE Token</span>,
                                                    the world's first cryptocurrency sold and transferred over Twitter.
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-12 form-container">
                                    {% if is_success %}
                                        <h1 class="display-6">Thank You</h1>
                                        <p class="lead content">One of our team members will reach out to you
                                            shortly.</p>
                                    {% else %}
                                        {% include "leads/includes/lead_creation_form.html" with action="/#banner" alignment="left" %}
{#                                        <div class="row">#}
{#                                            <div class="col-12 text-left">#}
{#                                                <i>Entry into the Presale Program is by invitation only. Requests#}
{#                                                    accepted#}
{#                                                    until the {{ deadline }}.</i>#}
{#                                            </div>#}
{#                                        </div>#}
                                    {% endif %}
                                </div>
                                <div class="col-12 logo-container bottom">
                                    <img class="img-fluid logo" src="{% static "img/logo.png" %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="explainer" class="jumbotron explainer">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-5 mb-0">What is BAE Token?</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="hr-circles py-4 py-md-5">
                            <span class="fa fa-circle"></span>
                            <span class="fa fa-circle"></span>
                            <span class="fa fa-circle"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-10 col-lg-8 mx-auto">
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/_EjoxXMcE04"
                                    frameborder="0"
                                    gesture="media" allow="encrypted-media" allowfullscreen></iframe>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="how-it-works" class="jumbotron jumbotron-fluid how-it-works">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-5 mb-0">How It Works</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="hr-circles py-4 py-md-5">
                            <span class="fa fa-circle"></span>
                            <span class="fa fa-circle"></span>
                            <span class="fa fa-circle"></span>
                        </div>
                    </div>
                </div>
                <div class="row steps">
                    <div class="col-12 step">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-4 col-lg-3 text-center text-md-right">
                                <img class="img-fluid illustration" src="{% static "svg/cryptocurrency.svg" %}"/>
                            </div>
                            <div class="col-md-6 col-lg-5 text-center text-md-left">
                                <h2 class="title">
                                    First, head to Twitter and have a chat with Bae <img class="emoji" src="{% static "img/smiling_face_with_heart_shaped_eyes.png" %}"/></h2>
                                <p class="content">
                                    Purchasing a cryptocurrency can be pretty intimidating. That is why we built Bae!
                                    She
                                    will help you buy your first BAE tokens.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 step">
                        <div class="row align-items-center justify-content-center flex-md-row-reverse">
                            <div class="col-md-4 col-lg-3 text-center text-md-left">
                                <img class="img-fluid illustration"
                                     src="{% static "svg/people_in_front_of_laptop.svg" %}"/>
                            </div>
                            <div class="col-md-6 col-lg-5 text-center text-md-left">
                                <h2 class="title">Next, use Bae to start sharing the love <img class="emoji" src="{% static "img/sparkling_heart.png" %}"/></h2>
                                <p class="content">
                                    Need a unique way to engage with customers that hashtag your brand?
                                    Wanna send your fans a special thank you for posting epic challenge videos?
                                    Just ask Bae to send tokens to the people you appreciate.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 step">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-4 col-lg-3 text-center text-md-right">
                                <img class="img-fluid illustration" src="{% static "svg/school_kids.svg" %}"/>
                            </div>
                            <div class="col-md-6 col-lg-5 text-center text-md-left">
                                <h2 class="title">Lastly, don't forget to tell your friends!</h2>
                                <p class="content">
                                    All you have to do is send a tweet to Bae (e.g. "@baetoken Send 20 BAE tokens to
                                    @friend") and
                                    she will handle the process of getting your friend setup with their first
                                    cryptocurrency.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="jumbotron jumbotron-fluid text-center win-win">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1 class="display-5">All Bae Does Is Win <img class="emoji" src="{% static "img/trophy.png" %}"/></h1>
                    </div>
                </div>
                <div class="row justify-content-center cards">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="card-deck">
                            <div class="card">
                                <div class="card-body">
                                    <img class="img-fluid rounded-circle"
                                         src="{% static "svg/ethereum.svg" %}"/>
                                    <h4 class="card-title">ERC-20 Compliant</h4>
                                    <p class="card-text">
                                        BAE Token is backed by an audited Ethereum smart contract. You can find out more
                                        from our <a href="{% static "pdf/baetoken_whitepaper.pdf" %}">white paper</a>.
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <img class="img-fluid rounded-circle"
                                         src="{% static "svg/qr_code.svg" %}"/>
                                    <h4 class="card-title">Limited Supply</h4>
                                    <p class="card-text">
                                        The total supply of BAE tokens is capped at 10,000,000,000. Be sure to get yours
                                        before it's too late!
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <img class="img-fluid rounded-circle"
                                         src="{% static "svg/crowd.svg" %}"/>
                                    <h4 class="card-title">BAE is a social currency</h4>
                                    <p class="card-text">
                                        Likes and hearts are for losers! Expand the BAE token ecosystem by sharing the
                                        love.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row roadmap">
                    <div class="col-12 col-md-6 mx-auto">
                        <div class="row">
                            <div class="col-12 step">
                                <h5 class="regular-font">November 2017</h5>
                                <p class="mb-2">Begin development of Bae for Twitter</p>
                            </div>
                            <div class="col-12 step">
                                <h5 class="regular-font">December 2017</h5>
                                <p class="mb-2">Bae closed beta testing on Twitter</p>
                            </div>
                            <div class="col-12 step">
                                <h5 class="regular-font">January 2018</h5>
                                <p class="mb-2">BAE Token Pre-Sale (January 2, 2018)</p>
                                <p class="mb-2">Bae beta testing opens to the public on Twitter</p>
                            </div>
                            <div class="col-12 step">
                                <h5 class="regular-font">February 2018</h5>
                                <p class="mb-2">BAE Token Pre-Sale Ends (February 1, 2018)</p>
                                <p class="mb-2">Bae goes live on Twitter</p>
                                <p class="mb-2">BAE Token Public Sale Launch on Twitter</p>
                            </div>
{#                            <div class="col-12 step">#}
{#                                <h5 class="regular-font">March 2018</h5>#}
{#                                <p class="mb-2">BAE Token Listing on Ether Delta</p>#}
{#                                <p class="mb-2">BAE Token Listing on Radar Relay</p>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="early-access" class="jumbotron jumbotron-fluid early-access">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 text-center">
                        {% if is_success %}
                            <h1 class="display-6">Thank You</h1>
                            <p class="lead content">One of our team members will reach out to you shortly.</p>
                        {% else %}
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="display-6">Be First to Try It Out</h1>
                                    <p class="lead content">We are building <span
                                            class="regular-font">BAE Token</span> for
                                        you! Get the details for our next sale delivered straight to your inbox.</p>
                                </div>
                            </div>
                            {% include "leads/includes/lead_creation_form.html" with action="/#early-access" alignment="center" %}
{#                            <div class="row">#}
{#                                <div class="col-12 text-center">#}
{#                                    <i>Entry into the Presale Program is by invitation only. Requests accepted#}
{#                                        until the {{ deadline }}.</i>#}
{#                                </div>#}
{#                            </div>#}
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static "js/vendor.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script>require('js/leadCreation');</script>
{% endblock %}