.checkout {
  min-height: 125vh;
  max-width: 625px;
  margin: auto;
  .purchase-order {
    border: 1px solid #D9DBDC;
    padding: 32px;
    margin-bottom: 15px;
    @include media(extra-small) {
      padding: 20px;
    }
    p {
      margin-bottom: 0;
      &.date {
        margin-bottom: 24px;
      }
    }
    .total {
      @include regular-font-family();
      font-size: 1.325rem;
    }
  }
  .company {
    .logo {
      object-fit: cover;
      width: 150px;
      height: 150px;
      margin-bottom: 12px;
      @include media(extra-small) {
        width: 100px;
        height: 100px;
      }
    }
    margin-top: 36px;
  }
  .form {
    .stripe-button-el {
      width: 100%;
    }
  }

  #braintree-container {
    .braintree-upper-container {
      border-radius: 0;
      //border: 1px solid #D9DBDC;
    }
    .braintree-placeholder {
      display: none;
    }
  }
}