@keyframes bounce-in-left-0 {
  0% {
    transform: translateX(-175px);
    opacity: 1;
  }
  2.5% {
    transform: translateX(0);
    opacity: 1;
  }
  //80% {
  //  transform: translateX(0);
  //  opacity: 1;
  //}
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  92.5% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes bounce-in-left-1 {
  0% {
    transform: translateX(-175px);
    opacity: 1;
  }
  8% {
    transform: translateX(-175px);
    opacity: 1;
  }
  10.5% {
    transform: translateX(0);
    opacity: 1;
  }
  //80% {
  //  transform: translateX(0);
  //  opacity: 1;
  //}
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  92.5% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes bounce-in-left-2 {
  0% {
    transform: translateX(-175px);
    opacity: 1;
  }
  15% {
    transform: translateX(-175px);
    opacity: 1;
  }
  17.5% {
    transform: translateX(0);
    opacity: 1;
  }
  //80% {
  //  transform: translateX(0);
  //  opacity: 1;
  //}
  90% {
    transform: translateX(0);
    opacity: 1;
  }
  92.5% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

.create-lead {
  .emoji {
    width: 30px;
    margin-bottom: 7px;
    @include media-breakpoint-down(sm) {
      width: 20px;
      margin-bottom: 5px;
    }
  }
  .form {
    &.lead-creation {
      .col-12 {
        padding-bottom: 0;
      }
    }
  }
  #navbar {
    border-bottom: none;
    .navbar {
      @include media-breakpoint-up(sm) {
        padding: 1rem 0;
      }
    }
  }
  .jumbotron {
    margin-bottom: 0;
    border-radius: 0;
  }

  .btn-early-access {
    @extend .btn-royal-blue;
    margin: 0.5rem 0;
  }

  .how-it-works {
    text-align: center;
    background-color: white;

    .step {
      padding-bottom: 2rem;
      &:last-child {
        padding-bottom: 0;
      }
      .illustration {
        max-height: 250px;
        @include media-breakpoint-down(sm) {
          max-height: 200px;
        }
      }
      .title {
        @include regular-font-family();
        margin: 0;
        padding-bottom: 1.5rem;
        @include media-breakpoint-down(md) {
          padding-top: 1.5rem;
        }
        @include media-breakpoint-down(sm) {
          font-size: 1.25em;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .hr-circles {
        .fa-circle {
          font-size: 0.5em;
        }
      }
    }
  }

  .explainer {
    text-align: center;
    background-color: $gigas;
    color: white;
    .video-container {
      position: relative;
      height: 0;
      padding-bottom: 50%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .win-win {
    background-color: #f8faff;

    .roadmap {
      margin-top: 5rem;
      position: relative;
      margin-left: 15%;
      @include media-breakpoint-down(sm) {
        padding: 0 2rem;
        margin-left: 2.5rem;
        margin-top: 2rem;
      }
      .step {
        text-align: left;
        border-left: solid 4px #ff632a91;
        padding-bottom: 2rem;
        padding-left: 3rem;
        @include media-breakpoint-down(sm) {
          padding-left: 2rem;
          padding-bottom: 0.5rem;
        }
        &:last-child {
          border-color: #f8faff;
        }
        &::before {
          display: inline-block;
          content: '';
          position: absolute;
          top: 0;
          left: -17px;
          height: 30px;
          width: 30px;
          background-color: $royal-blue;
          border-radius: 50%;
          @include media-breakpoint-down(sm) {
            height: 20px;
            width: 20px;
            left: -12px;
          }
        }
      }
    }

    .cards {
      margin: 1.75rem 0;
    }
    .card-deck {
      max-width: 1000px;
      @include media-breakpoint-down(xs) {
        .card {
          margin-bottom: 2rem;
          .card-body {
            //padding: 1rem;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    //.card-container {
    //  max-width: 380px;
    //  @include media-breakpoint-down(sm) {
    //    padding-bottom: 2rem;
    //    &:last-child {
    //      padding-bottom: 0;
    //    }
    //  }
    //}
    .card {
      border-radius: 6px;
      box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      will-change: transform, box-shadow;
      border: none;
      &:hover {
        box-shadow: 0 16px 32px 0 rgba(62, 57, 107, 0.28), 0 0 0 transparent;
        transform: translateY(-5px) translateZ(0);
      }
      .card-body {
        .img-fluid {
          padding-bottom: 1rem;
          width: 120px;
        }
        .card-title {
          @include regular-font-family();
          font-size: 1.125em;
        }
        .card-text {
          font-size: 1em;
        }
      }
    }
  }

  .banner {
    background-position: top center;
    background-color: black;
    position: relative;
    .video-container {
      position: absolute;
      overflow: hidden;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      .video {
        opacity: 0.5;
        min-width: 100%;
        overflow-y: hidden;
        position: absolute;
        top: 0;
        //z-index: -100;
      }
    }

    .jumbotron-fluid {
      //padding-top: 0;
      background-color: $fresh;
      margin-bottom: 0;
    }

    .introduction {
      //padding: 4rem 0;
      color: white;
      text-align: left;
      .logo-container {
        text-align: left;
        &.top {
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
        &.bottom {
          margin-top: 1rem;
          text-align: center;
          @include media-breakpoint-up(lg) {
            display: none;
          }
        }
        .logo {
          width: 150px;
          height: 150px;
          //@include media-breakpoint-down(lg) {
          //  width: 50px;
          //  height: 50px;
          //}
        }
      }
      .display-4 {
        @include regular-font-family();
        text-transform: capitalize;
        //font-size: 3.5rem;
        //line-height: 1.2em;
      }
      .lead {
        @include thin-font-family();
        .app-name {
          @include light-font-family();
          .highlight {
            @include regular-font-family();
          }
        }
        line-height: 1.25em;
        font-weight: 400;
      }
      .form-container {
        //padding-top: 1rem;
      }
      //@include media-breakpoint-down(lg) {
      //  padding: 7rem 0;
      //}
      //@include media-breakpoint-down(md) {
      //  padding: 3rem 0;
      //}
      @include media-breakpoint-down(sm) {
        flex-wrap: wrap-reverse;
        //padding: 1.5rem 0;
        text-align: center;
        .lead {
          @include light-font-family();
        }
      }

      .iphone-mockup {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        vertical-align: middle;
        overflow: hidden;

        &.perspective {
          svg {
            width: 100%;
            height: auto;
          }
        }

        &.vertical {
          svg {
            width: 100%;
            height: auto;
          }
          .message {
            animation-name: bounce-in-left-2;
            animation-duration: 20s;
            animation-iteration-count: infinite;
            animation-delay: 2s;
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.10);
            transform: translateX(-175px);

            &:nth-child(2) {
              animation-name: bounce-in-left-1;
            }
            &:nth-child(3) {
              animation-name: bounce-in-left-0;
            }

          }
        }
        @include media-breakpoint-down(sm) {
          &.vertical {
            svg {
              width: 100%;
              height: 500px;
            }
          }
        }
      }
    }
  }

  .early-access {
    background-color: white;
    form {
      &.form-inline {
        display: flex;
      }
      &.form {
        display: none;
      }
    }
    .lead {
      font-size: 1.0625rem;
    }
  }

  @include media-breakpoint-down(md) {
    .early-access {
      form {
        &.form-inline {
          display: none;
        }
        &.form {
          display: block;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-down(sm) {
    .col-12 {
      &:last-child {
        padding-bottom: 0;
      }
    }
    .display-4, .display-5, .display-6 {
      font-size: 1.5rem;
      line-height: 1.4;
    }
    //.row {
    //  margin-left: -7px;
    //  margin-right: -7px;
    //}
    .banner {
      .introduction {

      }
    }

    .early-access {
      text-align: center;
      .content {
        text-align: justify;
      }
    }
  }
}