{% extends 'content_base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        <div class="container checkout">
            <div class="company">
                <div class="row text-center">
                    <div class="col-12">
                        <img src="{% static "img/logo.png" %}" class="mx-auto d-block logo"/>
                    </div>
                </div>
            </div>
            <div class="purchase-order">
                <div class="row">
                    <div class="col-12">
                        <p class="date">{% now "F j, Y" %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>
                            User<br/>
                            @{{ user.twitter_screen_name }}<br/>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr/>
                    </div>
                    <div class="col-12">
                        <p>
                            {% if token_purchase_order.braintree_id is None %}
                                Thank you for your business, your trust, and your confidence.
                            {% else %}
                                This order was completed
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr/>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-9">
                                <p>
                                    {{ token_purchase_order.formatted_num_tokens }} {{ erc20_token_symbol }} Tokens
                                </p>
                            </div>
                            <div class="col-3 text-right">
                                <p>
                                    {{ token_purchase_order.token_charge }}
                                </p>
                            </div>
                        </div>
                        {% if token_purchase_order.wei_charge.amount > 0 %}
                            <div class="row">
                                <div class="col-9">
                                    <p>
                                        Ether Fee
{#                                        <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="This is gas that you will need to transfer {{ erc20_token_symbol }} tokens">#}
{#                                        </span>#}
                                    </p>
                                </div>
                                <div class="col-3 text-right">
                                    <p>
                                        {{ token_purchase_order.wei_charge }}
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-9">
                                <p>
                                    Service Fee
{#                                    <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="This convenience fee is from our partners at Braintree">#}
{#                                    </span>#}
                                </p>
                            </div>
                            <div class="col-3 text-right">
                                <p>
                                    {{ token_purchase_order.service_charge }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row total">
                    <div class="col-12">
                        <hr/>
                    </div>
                    <div class="col-8">
                        <p>
                            Order Total
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="text-right">
                            {{ token_purchase_order.total }}
                        </p>
                    </div>
                </div>
            </div>
            {% if token_purchase_order.braintree_id is None %}
                <form method="post" class="form" id="form">
                    {% csrf_token %}
                    {{ form.nonce }}
                    {{ form.errors }}

                    <div class="alert alert-danger {% if did_transaction_fail %}d-block{% else %}d-none{% endif %}"
                         id="transaction-alert" role="alert">
                        There was an error processing your payment. Please try another payment method or
                        contact {{ support_email }}.
                    </div>

                    <div id="braintree-container"></div>
                    <button id="submit-button" class="btn btn-primary btn-block mt-3" type="button" disabled="true">Place Your Order
                    </button>
                    <p class="text-center mt-2">
                        By clicking this button, you agree to {{ site_display_name }}'s
                        <a href="{% url 'terms_of_service' %}">Terms of Service</a> and
                        <a href="{% url 'privacy_policy' %}">Privacy Policy</a>.
                    </p>
                </form>
            {% endif %}

        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://js.braintreegateway.com/web/dropin/1.9.2/js/dropin.min.js"></script>
    <script>
        var button = document.querySelector('#submit-button');
        button.disabled = true;
        braintree.dropin.create({
            authorization: "{{ client_token }}",
            container: '#braintree-container'
        }, function (createErr, instance) {
            button.disabled = false;
            button.addEventListener('click', function () {
                instance.requestPaymentMethod(function (err, payload) {
                    if (!err) {
                        var nonceField = document.getElementById("id_nonce");
                        nonceField.value = payload.nonce;
                        document.getElementById("form").submit();
                    } else {
                        var transactionAlert = document.getElementById("transaction-alert");
                        transactionAlert.className = "alert alert-danger d-block"
                    }
                });
            });
        });
    </script>
    <script src="{% static "js/vendor.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script>require('js/checkout');</script>
{% endblock %}