{% extends 'content_base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        <div class="container checkout">
            <div class="company">
                <div class="row text-center">
                    <div class="col-12">
                        <img src="{% static "img/logo.png" %}" class="mx-auto d-block logo"/>
                    </div>
                </div>
            </div>
            <div class="purchase-order">
                <div class="row">
                    <div class="col-12">
                        <p>
                            Thank you!<br/>
                            We have sent you your receipt. <a href="{{ bot_twitter_profile_url  }}">{{ bot_display_name  }}</a> will let you know when your gas is ready.<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
