{% extends 'content_base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        <div class="container checkout">
            <div class="company">
                <div class="row text-center">
                    <div class="col-12">
                        <img src="{% static "img/logo.jpg" %}" class="mx-auto d-block logo"/>
                    </div>
                </div>
            </div>
            <div class="purchase-order">
                <div class="row">
                    <div class="col-12">
                        <p>
                            It looks like this purchase order has either expired or has already been fulfilled.
                        </p>
                    </div>
                    <div class="col-12">
                        <p>
                            Please talk with <a href="{{ bot_twitter_profile_url }}">{{ bot_display_name }}</a> if you would
                            like to purchase Ether.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
