<form class="form-inline justify-content-{{ alignment }} d-lg-flex d-none lead-creation" action="{{ action }}"
      method="post">
    <div class="form-group {% if form.email_address.errors %}has-error{% endif %}">
        <input type="email"
               value="{{ form.email_address.value|default_if_none:'' }}"
               class="form-control mb-2 mr-sm-2 mb-sm-0 {% if form.email_address.errors %}is-invalid{% endif %}"
               placeholder="Email Address"
               name="{{ form.email_address.name }}"
               id="id_{{ form.email_address.id_for_label }}" required>
    </div>
    <div class="form-group">
        <button name="submit" type="submit" class="btn btn-primary btn-block">
            Stay In Touch
        </button>
    </div>
</form>
<form class="form row d-flex d-lg-none lead-creation" action="{{ action }}" method="post">
    <div class="col-12">
        <div class="form-group {% if form.email_address.errors %}is-invalid{% endif %}">
            <input type="email"
                   value="{{ form.email_address.value|default_if_none:'' }}"
                   class="form-control {% if form.email_address.errors %}is-invalid{% endif %}"
                   placeholder="Email Address"
                   name="{{ form.email_address.name }}"
                   id="id_{{ form.email_address.id_for_label }}" required>
            {% if form.email_address.errors %}
                {% for error in form.email_address.errors %}
                    <div class="text-left invalid-feedback">
                        {{ error|escape }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <button name="submit" type="submit" class="btn btn-primary btn-block">
                Stay In Touch
            </button>
        </div>
    </div>
</form>
