{% load i18n %}
{% load staticfiles %}
<html {% block html_attributes %}{% endblock %}>
<head>
    {% if not debug %}
        <!-- Google Tag Manager -->
        <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MJDTG29');</script>
        <!-- End Google Tag Manager -->
    {% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <meta name="description"
          content="The BAE Token cryptocurrency ecosystem allows you to monetize your appreciation for friendship and compelling content, or anonymously transfer money to any person or business anywhere in the world!"/>
    {% block facebook_meta_tags %}
        <meta property="og:site_name" content="{{ site_display_name }}"/>
        <meta property="og:title" content="{{ site_display_name }} | {{ site_tagline }}"/>
        <meta property="og:url" content="https://{{ site_domain }}"/>
        <meta property="og:image" content="{% static "img/logo.png" %}"/>
    {% endblock %}
    {#    <meta name="google-site-verification" content="tGyYc--L6HOGm5MDAtrdoLtcnRQFY3-d5fC6e0yCxLw" />#}
    <title>{% block title %}{{ site_display_name }} | {{ site_tagline }}{% endblock %}</title>
    {% block links %}{% endblock %}
    <link href="{% static "css/app.css" %}" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="icon" type="image/x-icon" href="{% static "img/favicon.ico" %}"/>
</head>
<body {% block body_attributes %}{% endblock %}>
{% if not debug %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJDTG29"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}
{% block body %}{% endblock %}
</body>
{#{% if not debug %}#}
{#    <script src="{% static 'js/google_analytics.js' %}"></script>#}
{#{% endif %}#}
{% block scripts %}{% endblock %}
</html>