{% extends "content_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Terms of Service | {{ site_display_name }}{% endblock %}
{% block content %}
    <div class="legal">
    <h1 class="title">Privacy Policy</h1>
    <p>
        We vigorously protect and defend the privacy of members of the {{ site_display_name }} Community. This Privacy
        Policy outlines how your data is used and steps we take to protect your personal information.
    </p>
    <p>
        Refer to the <a href="{% url 'terms_of_service' %}">Terms of Service</a> for definitions used and more
        information on the conditions to which you are bound by the use of {{ site_display_name }}'s Site and
        Services.
    </p>
    <div class="paragraph">
        The following outlines our privacy policy:
        <ol type="i">
            <li>Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.</li>
            <li>We will only retain personal information as long as necessary for the fulfillment of those purposes.</li>
            <li>We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</li>
            <li>Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date.</li>
            <li>We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</li>
            <li>We will make readily available to customers information about our policies and practices relating to the management of personal information.</li>
        </ol>
    </div>
    <p>
        We are committed to conducting our business in accordance with these principles in order to ensure that the
        confidentiality of personal information is protected and maintained.
    </p>
    <p>By using the Site or Services you expressly agree to this Privacy Policy.</p>
    <p>Updated June 24, 2017</p>
    </div>
{% endblock %}