{% load static %}
<div id="navbar" class="container-fluid bg-white">
    <div class="container navbar-container">
        <nav class="navbar navbar-expand-md justify-content-between">
            <a class="navbar-brand d-inline-flex align-items-center" href="/">
                <img src="{% static "img/logo.png" %}" class="navbar-logo mr-2" alt="">
                <span class=""><span class="highlight">BAE</span> Token</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="fa fa-navicon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/#how-it-works">How It Works <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% static "pdf/baetoken_whitepaper.pdf" %}">Whitepaper</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/#early-access">Stay In Touch</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
